@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&family=Outfit:wght@100;200;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body {
    width: 100%;
    overflow-x: hidden;
}

.nav-bg {
    background-image: url("../imagens/bg-1.jpg");
    background-size: cover;
    background-position: center center;
    height: 750px;
}

.nav-bar {
    max-width: 1100px;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 30px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
}

.menu-mobile {
    display: none;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.menu-line {
    height: 2px;
    margin-bottom: 7px;
    width: 30px;
    background-color: #8b8b8b;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: rgb(122, 122, 122);
    transition: 0.5s;
}

.logo img {
    height: 30px;
    width: auto;
    padding-top: 10px;
}

.logo a {
    font-size: 25px;
    text-decoration: none;
    margin-top: 10px;
    color: rgb(122, 122, 122);
}




.phone {
    max-width: 1100px;
    color: white;
    margin-top: 20vh;
}

.phone-area {
    margin-left: 30vw;
}    

.phone-area h1 {
    font-size: 70px;
}

.button input {
    border: 1px solid white;
    padding: 10px;
    color: white;
    width: 200px;
    font-size: 20px;
    margin-top: 40px;
    background: none;
    transition: 0.4s;
    cursor: pointer;
}

.button input:hover {
    background-color: whitesmoke;
    color: rgb(122, 122, 122);
    transition: 0.4s;
}





.container-img {
    background-image: url("../imagens/bg-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 750px;
    background-position: right;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.container-1 p, .container-2 p {
    text-align: center;
    margin-top: 20px;
    color: rgb(122, 122, 122);
    font-size: 15px;
}

.container-1 h1, .container-2 h1 {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

.container-1 img, .container-2 img {
    width: 32px;
}

.container-1 {
    margin-top: 40vh;
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.container-2 {
    margin-top: 15vh;
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}




.container-white {
    background-color: #f5e4e4;
    height: auto;
}

.conteudos {
    display: flex;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.conteudo-1 h2 {
    color: black;
    width: 200px;
}

.conteudo-1 img, .conteudo-2 img {
    width: 200px;
}


.section-phone {
    position: relative;
    color: white;
    background-image: url('../imagens/bg-3.jpg');
    background-position: center;
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: space-between;
}

.section-phone-left, .section-phone-right {
    width: 450px;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: 25vh;
}

.section-phone-left h1, .section-phone-right h1 {
    font-size: 40px;
}

.section-phone-left p, .section-phone-right p {
    margin-top: 20px;
    line-height: 25px;
}

.section-phone > .button {
    position: absolute;
    bottom: 10vh;
    left: 42vw;
}




.depoiment {
    max-width: 1100px;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 15vh;
}

.depoiments-title {
    font-size: 30px;
    border-bottom: 1px solid;
    padding-bottom: 30px;
    width: 100%;
}

.depoiments-area {
    width: 100%;
    margin-bottom: 10vh;
    color: rgb(122, 122, 122);
    margin: auto;
    margin-top: 70px;
}

.depoiment {
    width: 600px;
    font-size: 23px;
}

.depoiments-name {
    font-size: 20px;
    margin-top: 50px;
}

.pointers {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10vh;
}

.point {
    background-color: #6b6b6b;
    padding: 5px;
    border-radius: 8px;
    margin-right: 6px;
    cursor: pointer;
}

.active {
    background-color: black;
}


.section-bg {
    background-image: url('../imagens/bg-5.jpg');
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    box-shadow: inset 0px 0px 20px 20px #00000061;
}


.section-asis {
    display: flex;
    background-color: #2d2d2d;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.section-asis-name {
    font-size: 25px;
    margin-right: 30px;
    color: white;
}

.section-asis-form input{
    height: 40px;
}

.email {
    width: 300px;
    padding-left: 10px;
    margin-right: 5px;
}

#button {
    width: 100px;
    border: none;
    background-color: #6b6b6b;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

#button:hover {
    background-color: #8b8b8b;
    transition: 0.3s;
}



.store {
    background-color: RGB(236, 236, 236);
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.store-list ul li {
    list-style: none;
    margin-bottom: 10px;
    text-align: center;
}

.store-list a {
    text-decoration: none;
    color: #6b6b6b;
}

.store-list a:hover {
    text-decoration: underline;
}

footer {
    background-color: #e3e3e3;
    text-align: center;
    color: #8b8b8b;
    padding: 20px;
}


/* RESPONSIVIDADE TABLET  */

@media (max-width: 820px) {
    .nav-bar {
        margin-right: 10px;
        margin-left: 10px;
    }

    .phone-area {
        justify-content: center;
        margin-left: 10vw;
    }

    .container-img {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .container-1, .container-2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .conteudos {
        flex-wrap: wrap;
    }

    .section-phone {
        height: 850px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-phone-left, .section-phone-right {
        padding-top: 10vh;
        height: 300px;
    }

    .section-phone > .button {
        left: 35vw;
    }

    .depoiments-title {
        font-size: 20px;
    }

    .depoiments {
        font-size: 18px;
    }

    .depoiments-name {
        font-size: 17px;
    }

    footer {
        font-size: 14px;
    }
}

/*  RESPONSIVIDADE TABLET  */




/*  RESPONSIVIDADE MOBILE  */

@media (max-width: 620px) {

    .nav-bar nav{
        display: none;
    }

    .menu-mobile {
        display: block;
    }
    
    .phone-area h1 {
        font-size: 50px;
    }

    .phone-area p {
        font-size: 16px;
    }

    .depoiments-title {
        width: 50%;
        margin: auto;
    }

    .depoiments {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .section-asis {
        flex-direction: column;
    }

    .section-asis-name {
        margin-bottom: 10px;
    }

    .store {
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .store-list {
        margin-bottom: 10px;
    }

}

/*  MENU MOBILE 2  */


@media (max-width: 325px) {
    .depoiments-title {
        width: 200px;
        margin: 0 10px 10px 50px;
    }

    .depoiments-area {
        width: auto;
        
    }

    .depoiments {
        width: auto;
        max-width: 200px;
        margin: 0 10px 10px 50px;
    }

    .depoiments-name {
        margin-left: 0;
        width: 300px;
    }

    .pointers {
        width: 300px;
    }

    .section-asis {
        height: 200px;
    }

    .conteudo-1 {
        margin-top: 50px;
    }

    #button {
        margin: 20px 90px;
    }

    .section-phone {
        height: 980px;
    }

    .section-phone .button {
        width: 100px;
        position: absolute;
        left: 40px;
        bottom: 30px;
    }
}
